body {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
  justify-content: center;
  margin: 0px;
}

h1 {
  border-radius: 10px;
  margin: 20px 20px ;
  display: block;
  max-width: 800px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 25px;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  max-width: 800px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin: 0 20px;
  justify-content: center;
}



input,
select,
button,
label {
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

label {
  text-align: left;
}

button {
  background-color: lightgreen;
  margin-top: 3px;
  font-size: 1.5rem;
  transition: all 400ms;
}

button:hover {
  background-color: green;
  color: aliceblue;
}